body {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  line-height: 1.666em;
  letter-spacing: 0.01em;
  font-size: 16px;
  unicode-bidi: isolate;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
  overflow-x: hidden !important;
  background-color: #fefbe9;
  color: #353744;
  transition: all 0.5s ease !important;
  --color-one: #fefbe9;
  --color-two: #e1eedd;
  --color-three: #f0a04b;
  --color-four: #183a1d;
  --color-texts: #353744;
}
@media (max-width: 768px) {
}
@media (min-width: 769px) {
}
/* RESET */
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
p {
  margin-bottom: 0px;
}

a {
  text-decoration: none;
  font-weight: 300 !important;
  transition-duration: 0.1s !important;
  color: unset !important;
}
.button-1 {
  background-color: var(--color-four);
  border-width: 2px;
  border-color: var(--color-four);
  color: var(--color-one);
}
.button-1:hover {
  background-color: transparent;
  color: var(--color-texts);
}
.ls-3 {
  letter-spacing: 3px !important;
}
.mb-131 {
  margin-bottom: 131px;
}
.mtn-45 {
  margin-top: -45%;
}
.text-color-one {
  color: var(--color-one);
}
.bg-color-two {
  background-color: var(--color-two);
}
.bg-color-three {
  background-color: var(--color-three);
}
.bg-color-four {
  background-color: var(--color-four);
}
.border-color-three {
  border-color: var(--color-four) !important;
}
/* Typing Effect */
.typing-demo {
  width: 15ch;
  animation: typing 2s steps(22), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  /* font-family: monospace; */
  /* font-size: 2em; */
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
/* Carousel */
.carousel-cell {
  width: 350px;
  margin-right: 10px;
  background: white;
  height: 340px;
}
.flickity-viewport {
  position: initial !important;
}
/* cell number */
.carousel-cell:before {
  display: block;
  text-align: center;
}
.blog-pic {
  height: 198px;
  object-fit: cover;
  object-position: center;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type='email'] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type='password'] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-signup {
  max-width: 330px;
  padding: 15px;
}

.form-signup .form-floating:focus-within {
  z-index: 2;
}
.form-signup input[type='username'] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signup input[type='email'] {
  margin-bottom: -1px;
  border-radius: 0;
}

.form-signup input[type='password'] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
